.header {
  height: 73px;
  border-bottom: 1px solid #ebf2f2;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-menu {
  flex-direction: row;
  justify-content: flex-end;
}

.hm-menu div {
  width: 30px;
  height: 2px;
  background-color: #535353;
  margin: 6px 0;
}
