.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #191e1e;
  z-index: 3;
  display: flex;
  align-items: flex-start;
  transition: all 3s ease;
  transform: translateY(-100%);
}

.menu-content {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.menu-item {
  color: white;
  margin: 1rem 0;
}

.menu-item__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.menu-item__arrow {
  border: solid #bdbdbd;
  background-color: transparent;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 7px;
  margin-right: 7px;
  position: relative;
}

.menu-item__h1 {
  font-size: 2rem;
  font-weight: 200;
}

.dropdown-m {
  border-top: 1px solid hsla(0, 0%, 100%, 0.4);
  display: block;
  overflow: hidden;
  height: 1px;
  transition: max-height 0.3s ease-out;
}

.my-3 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.dropdown-m__item:first-child {
  margin-top: 1rem;
}

.dropdown-m__item {
  font-weight: 300;
  font-size: 1.2rem;
  color: #98afae;
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.dropdown-m__item:hover {
  color: #6cb52d;
}

.overlay.show {
  transform: translateY(0);
}

.dropdown-m.show {
  display: block;
  height: max-content;
  position: relative;
  z-index: 3;
}
.green {
  color: #6cb52d;
}
.down {
  transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
}

@media screen and (max-width: 900px) {
  .close {
    position: fixed;
    right: 32px;
    top: 20px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    z-index: 100;
  }

  .burger-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #191e1e;
    z-index: 3;
    overflow-y: auto;
  }
}
